<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/navbarHome.css">
    <link rel="stylesheet" href="../css/Home.css">
    <link rel="stylesheet" href="../css/footer.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
</head>
<body>
    <div class="page">
        <!--Navbar-->
        <div class="navbar">
            <div class="comandi">
                <a href="Home.html" class="comando">Home</a>
                <a href="Programmazione.html" class="comando">Film</a>
                <a href="" class="comando bordo">Prenota il tuo biglietto</a>
                <a href="Informazioni.html" class="comando">Informazioni</a>
            </div>
            <div class="peterPan">
                <div class="titolo">Cineforum Peter Pan</div>
                <div class="immagine"></div>
            </div>
            <div class="didascalia">A differenza che nel cinema, nella vita non esiste il replay -Gabriele Salvatores</div>
        </div>

        <div class="bloccoPopCorn">
            <div class="titolo">Scopri i film in programma</div>
            <a href="Programmazione.html" class="bottone">Vai al catalogo</a>
        </div>

        <div class="bloccoSala">
            <div class="scritta">Prossimi arrivi</div>
            <div class="trailer">
                <iframe width="400" height="315" class="left" src="https://www.youtube.com/embed/mP0VHJYFOAU?start=16" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <iframe width="400" height="315" class="right" src="https://www.youtube.com/embed/jvMaHOOY5VA?start=2" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
   
    </div>


        <!--Footer-->
        <div class=footer>
            <i class="fab fa-twitter-square fa-3x icon"></i>
            <i class="fab fa-instagram-square fa-3x icon"></i>
            <i class="fab fa-facebook-square fa-3x icon"></i>
            <i class="fab fa-linkedin fa-3x icon"></i>
        </div>
    </div>
</body>
</html>