<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/navbar.css">
    <link rel="stylesheet" href="../css/footer.css">
    <link rel="stylesheet" href="../css/Informazioni.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
</head>
<body>
    <div class="page">
        <!--Navbar-->
        <div class="navbar">
            <div class="comandi">
                <a href="Home.html" class="comando">Home</a>
                <a href="Programmazione.html" class="comando">Film</a>
                <a href="" class="comando bordo">Prenota il tuo biglietto</a>
                <a href="Informazioni.html" class="comando">Informazioni</a>
            </div>
        </div>

        <div class="sfondoNero"></div>

        <div class="content">
            <div class="mappa" >
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2971.746588022043!2d12.4675636!3d41.855281!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x13258a922b3edaeb%3A0xd7c1990833e3ea29!2sIngegneria%20Informatica%20-%20Universit%C3%A0%20Roma%20Tre!5e0!3m2!1sit!2sit!4v1621877569882!5m2!1sit!2sit" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div>
            <div class="interno">
                <h3>Orari di apertura</h3>
                <div class="col">
                    <div class="riga"><p class="componente">lun-gio</p>   <p class="componente">9:00 - 23:00</p></div>
                    <div class="riga"><p class="componente">ven-dom</p>   <p class="componente">9:00 - 03:00</p></div>
                </div>
                <h3>Contatti</h3>
                <div class="col">
                    <div class="riga"><p class="componente piccolo">fisso:</p>   <p class="componente num">0611111111</p></div>
                    <div class="riga"><p class="componente piccolo">cell:</p>   <p class="componente num">+393333333333</p></div>
                </div>
            </div>
        </div>

    </div>


    <!--Footer-->
    <div class=footer>
        <i class="fab fa-twitter-square fa-3x icon"></i>
        <i class="fab fa-instagram-square fa-3x icon"></i>
        <i class="fab fa-facebook-square fa-3x icon"></i>
        <i class="fab fa-linkedin fa-3x icon"></i>
    </div>
</div>
</body>
</html>