<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/navbar.css">
    <link rel="stylesheet" href="../css/footer.css">
    <link rel="stylesheet" href="../css/InserimentoFilm.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
</head>
<body>
    <div class="page">
        <!--Navbar-->
        <div class="navbar">
            <div class="comandi">
                <a href="Home.html" class="comando">Home</a>
                <a href="Programmazione.html" class="comando">Film</a>
                <a href="" class="comando bordo">Prenota il tuo biglietto</a>
                <a href="Informazioni.html" class="comando">Informazioni</a>
            </div>
        </div>

        <div class="sfondoNero"></div>

        <form class="form">
            <label class="nomeCampo" for="titolo">Titolo:</label>
            <input class="contenuto" type="text" id="titolo" name="titolo" placeholder="Insert title"><br><br>
            <label class="nomeCampo" for="Regista">Regista:</label>
            <input class="contenuto" type="text" id="regista" name="regista" placeholder="Insert Director name"><br><br>
            <input class="file" type="file" id="locandina" name="locandina">
            
            <div class="bottoniConferma">
            <input  type="submit" value="Annulla">
            <input  type="submit" value="Inserisci">
            </div>
            
        </form>


    </div>


    <!--Footer-->
    <div class=footer>
        <i class="fab fa-twitter-square fa-3x icon"></i>
        <i class="fab fa-instagram-square fa-3x icon"></i>
        <i class="fab fa-facebook-square fa-3x icon"></i>
        <i class="fab fa-linkedin fa-3x icon"></i>
    </div>
</div>
</body>
</html>