<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/InserimentoFilm.css">
    <link th:href="@{/css/InserimentoFilm.css}" rel="stylesheet">
    <object  th:replace="fragments/base.html :: headerfiles()"/>
</head>
<body>

	<header th:replace="fragments/base.html :: intestazione3"></header>
	
    <div class="page">
       

        <div class="sfondoNero"></div>

        <form class="form">
            <label class="nomeCampo" for="titolo">Titolo:</label>
            <input class="contenuto" type="text" id="titolo" name="titolo" placeholder="Insert title"><br><br>
            <label class="nomeCampo" for="Regista">Regista:</label>
            <input class="contenuto" type="text" id="regista" name="regista" placeholder="Insert Director name"><br><br>
            <input class="file" type="file" id="locandina" name="locandina">
            
            <div class="bottoniConferma">
            <input  type="submit" value="Annulla">
            <input  type="submit" value="Inserisci">
            </div>
            
        </form>


    </div>


    <footer th:replace="fragments/base.html :: fondo"></footer>
</body>
</html>